In [1]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

True

In [2]:
for i in string1:
    print(i)

p
y
t
h
o
n

In [3]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [4]:
for i in string1:
    print('the ascii value of {} is {}'.format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [5]:
for i in string.ascii_uppercase:
    print('the ascii value of{} is{}'.format(i,ord(i)))

NameError: name 'string' is not defined

In [6]:
for i in "abcdefghijklmnopqrstuvwyxyz":
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value ofa is97
the ascii value ofb is98
the ascii value ofc is99
the ascii value ofd is100
the ascii value ofe is101
the ascii value off is102
the ascii value ofg is103
the ascii value ofh is104
the ascii value ofi is105
the ascii value ofj is106
the ascii value ofk is107
the ascii value ofl is108
the ascii value ofm is109
the ascii value ofn is110
the ascii value ofo is111
the ascii value ofp is112
the ascii value ofq is113
the ascii value ofr is114
the ascii value ofs is115
the ascii value oft is116
the ascii value ofu is117
the ascii value ofv is118
the ascii value ofw is119
the ascii value ofy is121
the ascii value ofx is120
the ascii value ofy is121
the ascii value ofz is122

In [7]:
for i in string.ascii_lowercase:
    print('the ascii value of{} is{}'.format(i,ord(i)))

NameError: name 'string' is not defined

In [8]:
string.ascii_uppercase

NameError: name 'string' is not defined

In [9]:
import string

In [10]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [11]:
for i in string.punctuation:
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value of! is33
the ascii value of" is34
the ascii value of# is35
the ascii value of$ is36
the ascii value of% is37
the ascii value of& is38
the ascii value of' is39
the ascii value of( is40
the ascii value of) is41
the ascii value of* is42
the ascii value of+ is43
the ascii value of, is44
the ascii value of- is45
the ascii value of. is46
the ascii value of/ is47
the ascii value of: is58
the ascii value of; is59
the ascii value of< is60
the ascii value of= is61
the ascii value of> is62
the ascii value of? is63
the ascii value of@ is64
the ascii value of[ is91
the ascii value of\ is92
the ascii value of] is93
the ascii value of^ is94
the ascii value of_ is95
the ascii value of` is96
the ascii value of{ is123
the ascii value of| is124
the ascii value of} is125
the ascii value of~ is126

In [12]:
ord('a')

97

In [13]:
string='hai how are you and how do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
        
print(count)

3

In [14]:
string='hai how are you and how do you do'
count=0
for i in string:
    if i=='o':
        count=count+1
        
print(count)

6

In [15]:
#vowels
string='hai how are you and how do you do'
count=0
for i in string:
    if i in 'aioeu':
        count=count+1
    
print(count)

13

In [16]:
string='hai how are you'
count=0
for i in string:
    if i in 'aeiou':
        count=count+1
        
print(count)

7

In [17]:
a=''
count=0
string='hai how are you'
for i  in string:
     if i in 'aeiou':
            if i in a:
                print()
            else:
                a=a+i
print(f"number of unqiue vowels: {len(a)}" )

number of unqiue vowels: 5

In [18]:
string1='python'
for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [19]:
for i in string1:
    print(i,end=' ')

p y t h o n

In [20]:
for i in range(len(string1)):
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [21]:
string1[-1]

'n'

In [22]:
for i in range(len(string1)):
    print('the nagative index of {} is {}'.format(string1[i],i-6))

the nagative index of p is -6
the nagative index of y is -5
the nagative index of t is -4
the nagative index of h is -3
the nagative index of o is -2
the nagative index of n is -1

In [23]:
for i in range(-len(string1),0):
    print('the nagative index of {} is {}'.format(string1[i],i))

the nagative index of p is -6
the nagative index of y is -5
the nagative index of t is -4
the nagative index of h is -3
the nagative index of o is -2
the nagative index of n is -1

In [24]:
string1='python'
for i in range(len(string1)):
    print('the postive index is {} and negative index is {} for {}'.format(i,i-6,string1[i]))

the postive index is 0 and negative index is -6 for p
the postive index is 1 and negative index is -5 for y
the postive index is 2 and negative index is -4 for t
the postive index is 3 and negative index is -3 for h
the postive index is 4 and negative index is -2 for o
the postive index is 5 and negative index is -1 for n

In [26]:
i=0
while i<len(string1):
     print('the postive index is {} and negative index is {} for {}'.format(i,i-6,string1[i]))
    i=i+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [27]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [28]:
string1='hai how are you'
string1[2:10:3]

'ioa'

In [29]:
string1[:]

'hai how are you'

In [30]:
string1[2:10:-5]

''

In [31]:
string1[8:-14:-2]

'awhi'

In [32]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
string1='welcome'
string1.capitalize()

'Welcome'

In [34]:
string1='harshini'
string1.upper()

'HARSHINI'

In [35]:
string1='THAmas'
string1.lower()

'thamas'

In [36]:
string11='thamas'
#str1=th
#str2=mas
str1=string11[:2]
str2=string11[3:]
str1+'A'+str2

'thAmas'

In [37]:
string2='welcome'
str1=string2[:2]
str2=string2[3:]
str1+'L'+str2

'weLcome'

In [38]:
string33='harshinithamas'
str1=string33[:8]
str2=string33[6:]
str1+'weds'+str2

'harshiniwedsnithamas'

In [39]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [40]:
i=0
while i<10:
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [41]:
i=10
while i<20:
    print(i,end=' ')
    i=i+1

10 11 12 13 14 15 16 17 18 19

In [42]:
i=10
while i>-11:
    print(i,end=' ')
    i=i-1

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [43]:
i=10
while True:
    print(i,end=' ')
    i=i-1
    if i==-11:
        break

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [44]:
for i in range(5):
    num=eval(input('enter a number:'))
    total=num*num
    print('the square of {} is{}'.format(num,total))

enter a number:

SyntaxError: invalid syntax (<string>, line 0)

In [ ]:
i=0
while i<=4:
    num=eval(input('ente a number:'))
    print('the square ',num*num)
    i=i+1

In [ ]:
import random
for i in range(5):
    a=random.randint(10,20)
    print('the square ',a,a*a)

In [ ]:
#while
import random
i=0
while i<=4:
    a=random.randint(10,30)
    print('the square ',a,a*a)
    i=i+1

In [ ]:
for i in range(10,21):
    if i%2==0:
        print('even number',i)
    else:
        print('odd number',i)

1. question
Guess a number is a game that prompts a player to guess a number between 0 and 9, which
is randomly generated by the system. When the input given by the user matches the
number generated by the system then the user wins. The game should go as follows:

Guess the number: 5
Sorry, try again
Guess the number: 3
Sorry, try again
Guess the number: 8
You got it right! Congo!

In [ ]:
i=0
import random
num=random.randint(0,9)
while i<3:
    guess=eval(input('guess the number:'))
    if num==guess:
        print('you got it right! Cango!')
        break
    else:
        print('sorry,try again')

    i=i+1

2 question
Make an improvement to the Guess a number game. Guide the user where they are
standing and limit the number of attempts to 3. For example, the game should go like this:

Guess the number: 4
Too low
Guess the number: 9
Too high
Guess the number: 5
Sorry you Lost!

In [ ]:
i=0
while i<3:
    guess=eval(input('guess the number:'))
    if i==guess:
        print('sorry you lost!')
        break
    elif 4==guess:
        print('too low')
    else:
        print('too high')
    i=i+1

#3 question
Let us make the above game a little more interesting by converting it into a gambling
problem. Suppose that a player starts with Rs. 1,000. If a player can guess the number in his
first chance, then he will be given a prize of Rs. 5,000, if he requires 2 attempts then he will
get a prize of Rs.1,000. If he loses then he will lose Rs. 500. For example the game should go
like this:

You have a cash of Rs. 1,000 with you...
Guess the number: 8
Too high
Guess the number: 3
You have just won Rs. 1,000

In [ ]:
 print('You have a cash of Rs. 1,000 with you...')
i=0
while i<3:
    guess=eval(input('guess the number:'))
    if i==guess:
        print('You have just won Rs. 1,000')
        break
    else:
        print('too high')
    i=i+1

4. question
Your balance: Rs. 2000
4. Suppose that a player wants to play a game which requires him Rs. 1,000 to start. If the
current balance in his account is less than Rs. 1,000 he needs to withdraw the extra money
from his e-wallet.

Note that if the sum of money in his courrent account and the amount withdrawn is greater than
or equal to Rs. 1,000 then he can start playing the game. However if the sum is less than Rs.
1,000 then the program should keep displaying the user the message “You still do not have
enough money to start playing.” and keep prompting the user to withdraw money unless it
crosses Rs. 1,000. Once ready, i.e. if his current account balance crosses Rs. 1,000, it will display
a message “Now, you are ready to play the game.” Your program should also display the account
balance and the current amount in the e-wallet.

(consider: initial account balance is Rs. 200 and money in the e-wallet is Rs. 5,000)

(Do further improvement by checking if the e-wallet balance becomes NIL, etc.)

In [ ]:
i=0
print('current balance in his account is less than 1,000 ')
while i<3:
    current_balance=2000
    e_wallet=5000
    num=eval(input('enter a number:'))
    a=('with_drawn')
if a>=1000:
    if sum==1000:
        print('then starts playing the game.')
    elif sum<1000:
        print('“You still do not have enough money to start playing.')
    elif current_balance<1000:
        print('Now, you are ready to play the game.')
        break
    else:
        print('account balance')
        print('current amount of e_wallet')
        i=i+1

In [ ]:
for i in range(20): print(i,end=' ')

In [ ]:
for i in range(2,7):
    print(i,end=' ')

In [ ]:
for i in range(-6,5):
    print(i,end=' ')

In [ ]:
for i in range(-6,5,3):
    print(i,end=' ')

In [ ]:
for i in range(3):
    print('mahesh')

In [ ]:
print('lakshmi')
for i in range(2):
    print('harshini')
print('sahithi')

In [ ]:
for i in range(2):
    print('vaishu')
    print('sahithi')
for i in range(2):
    print('harsha')
for i in range(2):
    print('lakshmi')

In [ ]:
for i in range(10,18):
    print('the addition',i,i+i)

In [ ]:
num1=eval(input('enter start number:'))
num2=eval(input('enter stop number:'))

for i in range(num1,num2):
    print('the addition',i,i+i)

In [ ]:
for i in range(eval(input('enter start number:')),
               eval(input('enter stop number:'))):
    print('the addition',i,i+i)

In [ ]:
num1=22
num2=33

for i in range(num1,num2):
    print('the square ',i,i*i)

In [ ]:
def addition():
    num1=22
    num2=33

    for i in range(num1,num2):
        print('the addition',i,i+i)
    
addition()

In [ ]:
def addition1(num1,num2):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,13)

In [ ]:
def addition1(num1,num2=20):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,30)

In [ ]:
def addition1(num1=20,num2):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,30)

In [ ]:
for i in range(3):
    num=eval(input('enter a number:'))
    print('the square ',num,num*num)

In [ ]:
import random
for i in range(3):
    a=eval(input('enter a number:'))
    num=random.randint(10,20)
    print('the square of {} is {}'.format(a,a*a))

In [ ]:
for num in range(10,20):
    if num%2==0:
        print('even',num)
    else:
        print('odd',num)

In [ ]:
import random
for i in range(4):
    a=random.randint(10,30)
    if a%2==0:
        print('the given {} is even'.format(a))
    else:
        print('the given {} is odd'.format(a))

In [ ]:
import random
def even_odd():
    for i in range(4):
        aa=random.randint(20,30)
        if aa%2==0:
            print('even',aa)
        else:
            print('odd',aa)
            
even_odd()

In [ ]:
import random
random_num=random.randint(1,20)
for i in range(4):
    ab=eval(input('enter a number 1 to 20:'))
    if ab==random_num:
        print('you won')
    else:
        print('you lost')

In [ ]:
import random
random_num=random.randint(10,20)
print(random_num)
for i in range(3):
    user_num=eval(input('enter number between 10 to 20:'))
    if user_num==random_num:
        print('you won')
        break
    else:
        print('you lost')
        print('the number of chances left is:',3-1-i)

In [ ]:
import random
randomm=random.randint(20,30)
print(randomm)
chances=eval(input('enter how many chances you want:'))
for i in range(chances):
    user_num=eval(input('enter number between 20 and 30:'))
    if user_num==randomm:
        print('you won')
        break
    else:
        print('you lost')
        print('the number of chances left is',chances-1-i)

In [ ]:
count=1
i=2
n=eval(input('enter the number:'))
while i<n:
    j=0
    while j<n:
        print('  {}. {} + {} is{} '.format(j,count,i,count+i))
        j=j+1
        count=count+i
        i=i+1

In [ ]:
count=1
i=2
n=eval(input('enter the number:'))
while i<=n:
    temp=count+i
    print('{} + {} is {}  '.format(count,i,temp))
    count=count+i
    i=i+1

In [ ]:
list1=['harsha','harshini','diya','df','cv','er']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])
        
for i in list1:
    if len(i)<2:
        print(i)

In [ ]:
list1=['app#e','te#a','cat','ball','d#g']
count=0
for i in list1:
    if '#' in i:
        count+=1
print(count)

In [ ]:
list1=['app#e','te#a',['cat','ball','d#g']

In [ ]:
float=5.4
integer_number=int(float)
print('integer number is',integer_number)

In [ ]:
int=80
result=float(int)
print(result)

In [ ]:
gfp='geeksforgeeks'
print(gfp[::-1])

In [ ]:
count=0
while(count<2):
    count+=1
    print('hello world')

In [ ]:
n=4
for i in range(1,n):
    print(i,end=' ')

In [ ]:
s='hello world'
for i in s:
    if i=='e'or i=='l':
        continue
    else:
        print(i)

In [ ]:
s='hello world'
for i in s:
    if i=='e'or i=='l':
        break
    else:
        print(i)

In [ ]:

for i in range(0,10):
    print(i,end=' ')
    if i==2:
        break

In [ ]:
for i in range(5):
    print(i)
    if i==3:
        continue
        print(i)

In [ ]:

for i in range(0,10):
    if i==3:
        continue
        print(i)

In [ ]:
n=10
if n>10:
    pass
print('hello')

In [ ]:
stack=[]

stack.append('a')
stack.append('b')
stack.append('c')

In [ ]:
import array as arr
a=arr.array('i',[1,2,4,9])
print('frist element:',a[0])
print('second element:',a[1])
print('last element:',a[3])

In [ ]:
m=hash_function(50,hash_function_1)
for i in range(50):
    m.put('str' +str(i),i*100)
    if i%25==24:
        print(m.empty_buckets(),m.table_load(),m.size, m.capacity)

In [ ]:
student_id={112,114,116,118,115}
print('student ID',student_id)

In [ ]:
v={'a','o','i','e','u'}
print('vowel Letter',v)

In [ ]:
m={'hello',101,-2,'bye'}
print('set of mixed data types:',m)

In [ ]:
str2='omkar.nallagoni@cogizant.com'
str2.find('.')
num1=str2[0:5]
print(num1)
str2.find('@')
num2=str2[6:15]
print(num2)
str2.find('.c')
num3=str2[16:24]
print(num3)

In [ ]:
str1='harshini.desulakshmi@gmail.com'
str1.find('.')
n=str1[0:8]
print(n)
str1.find('@')
n1=str1[9:20]
print(n1)
str1.find('om')
n2=str1[21:28]
print(n2)

In [ ]:
names=['ram','raheem','robert']
age=[35,25,30]
dict1=dict(zip(names,age))
dict1

In [ ]:
import random
d1={'even':[],'odd':[]}
[d1['even'].append(num) if (num:=random.randint(10,20))%2==0  else d1['odd'].append(num) for i in range(5)]
d1

In [ ]:
import random
dict1={}
l1=[]
l2=[]
for i in range(5):
    num=random.randint(10,20)
    if num%2==0:
        l1.append(num)
    else:
        l2.append(num)
dict1['even']=l1
dict1['odd']=l2
dict1

In [ ]:
import random 
jk=[random.randint(10,30) for i in range(5)]
dict1={'even':[jk , num%2==0],
      'odd':[jk if num%2!=0]}
else:
print('dictionary:',dict1)

In [ ]:
import random
jk=[random.randint(20,30) for _ in range(5)]
dict1={'even':[num for num in jk if num%2==0],
      'odd':[num for num in jk if num%2!=0]}
print('dictionary',dict1)

1. Write a program that asks the user to enter a string. The program should then print the following:
(a) The total number of characters in the string
(b) The string repeated 10 times
(c) The first character of the string (remember that string indices start at 0) (d) The first three
characters of the string
(e) The last three characters of the string
(f) The string backwards
(g) The seventh character of the string if the string is long enough and a message otherwise
(h) The string with its first and last characters removed
(i) The string in all caps
(j) The string with every a replaced with an e

In [ ]:
def add(a):
    print(a+10)
add(20)

In [ ]:
def add(a):
    summ=a+10
    print(summ)
add(20)

In [ ]:
add=lambda a:a+10
add(20)

In [ ]:
square=lambda a:a*a
square(9)

In [ ]:
cube=lambda a,b:(a*a*a,b*b*b)
cube(8,4)

In [ ]:
avg=lambda a,b,c:(a+b+c)/3
avg(3,4,6)

In [ ]:
round(4.3333333333333,2)

In [ ]:
def greater(a,b):
    if a>b:
        print(a)
    else: 
        print(b)
greater(90,30)

In [ ]:
l1=[]
def greater(a,b):
    if a>b:
        l1.append(a)
    else:
        l1.append(b)
greater(20,57)
l1

In [ ]:
z=(1,[2,3])
type(z)

In [ ]:
wap to ask the user for some numbers and find all the combinations
of 3 numbers whose sum adds up to zero(0). suppose the input numbers are
(-1,1,0,2,-3,4).then output will be(-3,-1,4),(-3,1,2),(-1,0,1).

In [ ]:
l=[-1,1,0,2,-3,4]
n=l.copy()
for i in range(len(l)-2):
    n.remove(l[i])
    x=n.copy()
    for j in range(len(n)-1):
        x.remove(n[j])
        for k in range(len(x)):
            if(l[i]+n[j]+x[k])==0:
                print((l[i],n[j],x[k]),end=' ')
                break

In [ ]:
l=[-1,1,0,2,-3,4]
n=l.copy()
for i in range(len(l)-2):
    n.remove(l[i])
    
    x=n.copy()
    for j in range(len(n)-1):
        x.remove(n[j])
        
        for k in range(len(x)):
            if(l[i]+n[j]+x[k])==0:
                print((l[i],n[j],x[k]),end=' ')

In [ ]:
12. Write a program that asks the user to enter their name in lowercase and then capitalizes the first
letter of each word of their name.

In [ ]:

name = "hi how are you"
def capitalize_name(name):
    name_list = name.split()
    capitalized_name = [word.capitalize() for word in name_list]
    capitalized_name = " ".join(capitalized_name)
    return capitalized_name

capitalized_name = capitalize_name(name)
print(capitalized_name)

In [ ]:
n='hi how are you harshini'
n.split()

In [ ]:
n='hi ho ware you'
m=n.split()
l1=[name.capitalize() for name in  m]
l1=' '.join(l1)
print(l1)

In [ ]:
dict={}
even_list=[]
odd_list=[]
import random
for i in range(5):
    num=random.randint(20,30)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
dict['even']=even_list
dict['odd']=odd_list
dict

In [ ]:
dir({})

In [ ]:
s1={'harsha':30,'akhila':29,'bharavi':31}
s1

In [ ]:
s1.items()

In [ ]:
s1.keys()

In [ ]:
s1.values()

In [ ]:
values
tuple(values)

In [ ]:
values=s1.values()
values

In [ ]:
dict1={'harsha':30,'akhila':29,'bharavi':31}

In [ ]:
str1='harsha sai are you  able to read are write to sai to'
str1=str1.split()
print(str1)

s={}
for i in str1:
    if i in s:
        s[i] =s[i]+1
    else:
        s[i]=1
s

In [ ]:
s='harsha sai are you  able to read are write to sai to'
a=s.split()
d={}
for i in a:
    d[i]=a.count(i)
d

In [ ]:
d={'c':3,'e':5,'f':9,'r':34}
d1={'c':4,'e':9,'f':8}
for i in d1:
    d[i]+=d1[i]
d1

In [ ]:
string1='hello morning'
string1

In [ ]:
import string

In [ ]:
dir(string)

In [ ]:
for i in string.ascii_uppercase:
    print('the ascii value',i,ord(i))

In [ ]:
string='hai how are you'
count=0
for i in string:
    if i=='a':
        count+=1
print(count)

In [ ]:
s1=''
for i in 'hello mrng':
    s1=s1+i
    
print(s1)

In [ ]:
s1='hello'
s2=' mrng'
s1+s2

In [ ]:
for i in  range(len(string1)):
    print(i,string1[i])

In [ ]:
string1='hello akhila'
string1

In [ ]:
string1='python'
for i in range(-len(string1),0):
    print('the negative ',i,string1[i])

In [ ]:
for i in range(-len(string1),0):
    print('the postive',string1[i],i+6)
    
for i in range(-len(string1),0):
    print('the negative',string1[i],i)
    
for i in range(-len(string1),0):
    print('the postive {} and negative {}for {} '.format(string1[i],i+6,i))

In [ ]:
s1='harshini'
s1.capitalize()

In [ ]:
s1.upper()

In [ ]:
s1.lower()

In [ ]:
s1.count('h')

In [ ]:
s11=s1[:4]
s22=s1[5:]
s11+'H'+s22

In [ ]:
s1.casefold()

In [ ]:
s1='hars hars hars '
print(s1.count('hars'))
print(s1.count('hars '))
print(s1.count('rs'))

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
f=r"C:\Users\VIJAYA MEDA\Downloads\Visadataset - Visadataset.csv"
visa=pd.read_csv(f)
visa

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [47]:
type(visa)

pandas.core.frame.DataFrame

In [48]:
dir(visa)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'case_id',
 'case_status',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'continent',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'education_of_employee',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'full_time_position',
 'ge',
 'get',
 'groupby',
 'gt',
 'has_job_experience',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'no_of_employees',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prevailing_wage',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'region_of_employment',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'requires_job_training',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unit_of_wage',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs',
 'yr_of_estab']

In [49]:
len(visa)

25480

In [50]:
shape=visa.shape
shape

(25480, 12)

In [51]:
visa.size

305760

In [52]:
shape[0]*shape[1]

305760

In [53]:
data=visa.dtypes
data

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [54]:
type(data)

pandas.core.series.Series

In [55]:
data.index

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [56]:
data.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('O')], dtype=object)

In [57]:
dict(data)['case_id']

dtype('O')

In [58]:
cat=[]
num=[]
data=visa.dtypes
dict1=dict(data)
for i in dict1:
    if dict1[i]=='0':
        cat.append(i)
    else:
        num.append(i)

In [59]:
num

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'no_of_employees',
 'yr_of_estab',
 'region_of_employment',
 'prevailing_wage',
 'unit_of_wage',
 'full_time_position',
 'case_status']

In [60]:
cat

[]

In [61]:
visa.tail(6)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.78,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.57,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.79,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.85,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.77,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.91,Year,Y,Certified

In [63]:
visa.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [65]:
visa.tail(7)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.56,Year,Y,Certified
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.78,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.57,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.79,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.85,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.77,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.91,Year,Y,Certified

In [5]:
visa.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [67]:
visa.take([1,2,4])

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.39,Year,Y,Certified

In [71]:
visa.take([1,2,3],axis=1)

      continent education_of_employee has_job_experience
0          Asia           High School                  N
1          Asia              Master's                  Y
2          Asia            Bachelor's                  N
3          Asia            Bachelor's                  N
4        Africa              Master's                  Y
...         ...                   ...                ...
25475      Asia            Bachelor's                  Y
25476      Asia           High School                  Y
25477      Asia              Master's                  Y
25478      Asia              Master's                  Y
25479      Asia            Bachelor's                  Y

[25480 rows x 3 columns]

In [69]:
visa.take([1,2,3])

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied

In [77]:
visa.take([2,8,11],axis=1).take([150,200,250])

    education_of_employee  prevailing_wage case_status
150            Bachelor's         529.1105      Denied
200             Doctorate       74441.1100   Certified
250              Master's       61147.0700   Certified

In [80]:
visa.iloc[31:39,5:7]

    no_of_employees  yr_of_estab
31              995         1880
32             2415         1963
33             2395         2000
34             1809         2010
35             5512         2001
36             2520         1981
37               44         1965
38             2206         1909

In [82]:
visa.iloc[20:25]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
20,EZYV21,Asia,Master's,N,N,880,2008,West,71128.98,Year,Y,Denied
21,EZYV22,North America,Master's,Y,N,1706,2013,Midwest,137694.98,Year,N,Certified
22,EZYV23,Asia,Master's,Y,N,2878,1968,West,45642.39,Year,Y,Certified
23,EZYV24,North America,High School,N,N,1517,1884,Midwest,90108.38,Year,N,Certified
24,EZYV25,Europe,Doctorate,Y,N,241,1981,Midwest,71286.04,Year,Y,Certified

In [87]:
list1=[200,250,300,]
visa.iloc[list1]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
200,EZYV201,Asia,Doctorate,Y,N,3282,1979,West,74441.11,Year,Y,Certified
250,EZYV251,Asia,Master's,Y,N,4280,2004,Northeast,61147.07,Year,Y,Certified
300,EZYV301,Asia,Master's,Y,N,3268,2012,Midwest,101371.21,Year,Y,Certified

In [92]:
list1=[200,250,300,7,8,9,5]
list2=[11]
visa.iloc[list1,list2]

    case_status
200   Certified
250   Certified
300   Certified
7        Denied
8     Certified
9     Certified
5     Certified

In [6]:
rows=[100,200,300]
cols-['contient','case_status']
visa.loc[rows,cols]

NameError: name 'cols' is not defined